name: Release Obsidian plugin

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Build plugin
        run: |
          npm i -g yarn
          yarn install
          yarn build production

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${GITHUB_REF#refs/tags/}"
          cp manifest.json build/manifest.json
          cd build
          mkdir -p obsidian-task-rollover-plugin
          cp main.js manifest.json obsidian-task-rollover-plugin/
          zip -r obsidian-task-rollover-plugin.zip obsidian-task-rollover-plugin
          gh release create "$tag" \
            --title="$tag" \
            --draft \
            main.js manifest.json obsidian-task-rollover-plugin.zip
